@tailwind base;
@tailwind components;
@tailwind utilities;

.hidden {
    display: none;
}

.bgImage {
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    z-index: -1;
    width: auto;
    height: auto;
}

.elements {
    position: relative;
}